<div class="container">
  <form class="add__new-form">

    <div class="form-header"> New Category </div>
    <div class="form__container">
      <div class="input__field"> Name
      <input class="input__field-name" name="name">
      </div>
      </div>
      <div class="btn__flex">
        <div class="btn__flex-btn"> Back </div>
        <div class="btn__flex-btn"> Submit </div>
      </div>

  </form>
</div>
